@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Outfit:wght@400;700&display=swap');
@import "tailwindcss";

@tailwind utilities;

@layer theme {
  :root {
    --font-heading: "Nerko One", cursive;
    --font-body: "Outfit", sans-serif;
  }
}

@layer base {
  body {
    font-family: var(--font-body);
    color: #1a1a1a;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    text-transform: uppercase;
  }
}